{% extends 'layout_boxed.html.twig' %}

{% block title %}Počasí{% endblock %}

{% block content %}

<p>{{ highlander.say | first }}</p>

<div>
    <h1>Info o počasí</h1>

    <p>Donec vitae arcu. Fusce aliquam vestibulum ipsum. Fusce tellus. Nunc tincidunt ante vitae massa. Nullam eget nisl. Duis risus. Duis sapien nunc, commodo et, interdum suscipit, sollicitudin et, dolor.</p>
    <p>Donec vitae arcu. Fusce aliquam vestibulum ipsum. Fusce tellus. Nunc tincidunt ante vitae massa. Nullam eget nisl. Duis risus. Duis sapien nunc, commodo et, interdum suscipit, sollicitudin et, dolor.</p>
    <p>Donec vitae arcu. Fusce aliquam vestibulum ipsum. Fusce tellus. Nunc tincidunt ante vitae massa. Nullam eget nisl. Duis risus. Duis sapien nunc, commodo et, interdum suscipit, sollicitudin et, dolor.</p>
    <p>Donec vitae arcu. Fusce aliquam vestibulum ipsum. Fusce tellus. Nunc tincidunt ante vitae massa. Nullam eget nisl. Duis risus. Duis sapien nunc, commodo et, interdum suscipit, sollicitudin et, dolor.</p>

</div>
{% endblock %}
